<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chris.planner" >

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

        <activity android:name=".Version2" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".UnfinishedEventsReminderReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".ResetFinishedEventsReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity android:name=".TestActivity" >
        </activity>
        <activity android:name=".MainActivity" >
        </activity>
        <!-- <activity android:name=".Version2" > -->
        <!-- </activity> -->
        <activity android:name=".NewEventScreen" >
        </activity>
        <activity android:name=".CalendarActivity" >
        </activity>
        <!-- <activity -->
        <!-- android:name=".History" -->
        <!-- android:label="@string/title_activity_history" -->
        <!-- android:theme="@style/AppTheme.NoActionBar" > -->
        <!-- </activity> -->
        <activity android:name=".PreviousHistory" >
        </activity>
        <activity android:name=".SettingsActivity" >
        </activity>
        <activity android:name=".ChangeColour" >
        </activity>
        <activity android:name=".ChangeFont" >
        </activity>
        <activity android:name=".BluetoothActivity" >
        </activity>
        <activity android:name=".DisplayAllEvents" >
        </activity>
        <activity android:name=".ChangeColourStatic" >
        </activity>
        <activity android:name=".BluetoothNew" >
        </activity>
    </application>

</manifest>
